*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.idea
app/build
app/.externalNativeBuild
BaoZouPTu.iml
import-summary.txt
gradlew
gradlew.bat
local.properties
.idea/markdown-navigator/
app/.externalNativeBuild/
